# The port to run the server (from 0-65535)
PORT=80

# The IP to run the server
#   If you want to run it in your local network, set it to `192.168.x.x`
#   If you want to run it in your machine, set it to `localhost`
#   If you want to run it public, set it to `0.0.0.0`
HOST=localhost

# Log level which you want to see
#   If you want to see only error log, set it to 0
#   If you want to see error, warn log, set it to 1
#   If you want to see error, warn, success log, set it to 2
#   If you want to see error, warn, success, info log, set it to 3
#   If you want to see error, warn, success, info, debug log, set it to 4
LOG_LEVEL=3

# This environment variable is default.
# Except you want to use in openplace instance, then change
# the value to the domain of that openplace instance
BASE_URL=https://backend.wplace.live
